Repository aaccent/everest-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: fix misspell about link example in filter.md
  rfc/filter.md
Due: prettier --write

docs: add info about mdn link in filter.md
  rfc/filter.md
Due: prettier --write

docs: fix error in return of useCategoryFilter in filter.md
  rfc/filter.md
Due: prettier --write

docs: add JSDoc about header context
  src/layout/Header/Header.context.tsx
Due: prettier --write, eslint --fix

v0.6.0
  package.json
Due: prettier --write

chore: add auto merge to release PR, add fetch and pull master
  scripts/create-release.js
Due: prettier --write, eslint --fix

chore: fix pr message
  scripts/create-release.js
Due: prettier --write, eslint --fix

chore: fix release script checkout back
  scripts/create-release.js
Due: prettier --write, eslint --fix

chore: add info log about merge PR
  scripts/create-release.js
Due: prettier --write, eslint --fix

v0.6.1
  package.json
Due: prettier --write

chore: fix log info in release script
  scripts/create-release.js
Due: prettier --write, eslint --fix

refactor: move call-form action into own folder
  src/components/ContactForm/ContactForm.tsx
  src/components/Popup/CallPopup/CallPopup.tsx
  src/features/actions/call-form.ts
Due: prettier --write, eslint --fix

feat: filters for range and selector-inline
  src/components/Popup/FilterPopup/FilterPopup.tsx
  src/components/Popup/FilterPopup/FiltersBlock.tsx
  src/components/Popup/FilterPopup/MobileFilterItem.tsx
  src/components/QuickFilter/QuickFilter.tsx
  src/features/price.ts
  src/features/showFilters.tsx
  src/features/useCategoryFilter.ts
  src/globals/api/methods/getFilters.ts
  src/layout/catalog/CategoryLayout.tsx
  src/page-components/complex/LayoutChoice/LayoutChoice.tsx
  src/types/FiltersType.ts
  src/ui/inputs/Checkbox.tsx
  src/ui/inputs/Radio.tsx
  src/ui/inputs/Range.tsx
  src/ui/inputs/Selector.tsx
  src/ui/inputs/SelectorInline.tsx
Due: prettier --write, eslint --fix

feat: favicon and manifest
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/safari-pinned-tab.svg
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.png
  src/app/manifest.json
Due: prettier --write

chore: add 'downlevelIteration' flag to tsconfig
  tsconfig.json
Due: prettier --write

feat: 'accept' header to apiCall()
  src/globals/api/apiCall.ts
Due: prettier --write, eslint --fix

feat: changeHandler in Checkbox
  src/components/QuickFilter/QuickFilter.tsx
  src/features/useCategoryFilter.ts
  src/ui/inputs/Checkbox.tsx
  src/ui/inputs/Radio.tsx
  src/ui/inputs/Selector.tsx
Due: prettier --write, eslint --fix

fix: set https to host
  .env
Due: none

refactor: filtep popup
  src/components/Popup/FilterPopup/FilterPopup.tsx
  src/components/Popup/FilterPopup/FiltersBlock.tsx
  src/components/Popup/FilterPopup/MobileFilterItem.tsx
  src/features/showFilters.tsx
  src/ui/inputs/Checkbox.tsx
  src/ui/inputs/Selector.tsx
  src/ui/inputs/SelectorInline.tsx
Due: prettier --write, eslint --fix

feat: useCategorySort hook
  src/components/QuickFilter/QuickFilter.tsx
  src/components/QuickFilter/SortButton.tsx
  src/features/useCategorySort.ts
Due: prettier --write, eslint --fix

refactor: useCategoryFilter hook
  src/features/convertBase64.ts
  src/features/useCategoryFilter.ts
  src/features/useCategorySort.ts
Due: prettier --write, eslint --fix

feat: useCategoryObjects hook
  src/components/Cards/ObjectCard/ObjectCard.tsx
  src/features/useCategoryObject.ts
  src/globals/api/methods/getObjects.ts
  src/layout/catalog/CatalogContent.tsx
  src/page-components/catalog/SecondaryCategory.tsx
  src/types/Complex.ts
  src/types/ObjectCard.ts
Due: prettier --write, eslint --fix

feat: useCategoryObjects hook
  src/app/catalog/complexes/page.tsx
  src/features/price.ts
  src/features/useCategoryFilter.ts
  src/features/useCategoryObject.ts
  src/globals/api/index.ts
  src/globals/api/methods/catalog/getComplexes.ts
  src/globals/api/methods/catalog/getNewBuildings.ts
  src/globals/api/methods/catalog/getSecondaryHousing.ts
  src/globals/api/methods/getObjects.ts
  src/layout/catalog/CatalogContent.tsx
  src/page-components/catalog/Category.tsx
  src/page-components/catalog/SecondaryCategory.tsx
Due: prettier --write, eslint --fix

fix: range values
  src/features/showFilters.tsx
  src/features/useCategoryFilter.ts
  src/ui/inputs/Range.tsx
Due: prettier --write, eslint --fix

refactor: filter types
  src/features/showFilters.tsx
  src/types/FiltersType.ts
Due: prettier --write, eslint --fix

feat: similar-objects block to object page
  src/app/catalog/new-building/object/[object]/page.tsx
  src/app/catalog/secondary-housing/object/[object]/page.tsx
  src/components/Slider/Slider.tsx
  src/globals/api/methods/catalog-details/getSimilarObjects.ts
  src/page-components/catalog/SimilarObjects.tsx
Due: prettier --write, eslint --fix

fix: quickFilters on subcategory page
  src/layout/catalog/CategoryLayout.tsx
Due: prettier --write, eslint --fix

refactor: can add props to popups
  src/components/Popup/FilterPopup/FilterPopup.tsx
  src/components/Popup/Popup.tsx
  src/components/QuickFilter/DetailFilterButton.tsx
  src/components/QuickFilter/QuickFilter.tsx
  src/layout/Header/components/CallPopupButton.tsx
  src/layout/catalog/CategoryLayout.tsx
Due: prettier --write, eslint --fix

feat: gallery-in-object-card
  src/components/Cards/ObjectCard/Gallery.tsx
  src/components/Cards/ObjectCard/ObjectCard.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix

fix: pr issues
  src/components/Cards/Complex/ComplexCard.tsx
  src/components/Cards/Complex/ComplexListCard.tsx
  src/components/Cards/Complex/ComplexTileCard.tsx
  src/features/price.ts
  src/features/showFilters.tsx
  src/features/useCategoryFilter.ts
  src/features/useCategoryObject.ts
  src/globals/api/apiCall.ts
  src/globals/api/methods/getFilters.ts
  src/layout/catalog/CatalogContent.tsx
  src/page-components/complex/LayoutChoice/LayoutChoice.tsx
  src/types/FiltersType.ts
  src/ui/inputs/Radio.tsx
Due: prettier --write, eslint --fix

fix: type of filter arg in getObjects method
  src/app/catalog/complexes/page.tsx
  src/features/showFilters.tsx
  src/globals/api/methods/catalog/getComplexes.ts
Due: prettier --write, eslint --fix

fix: type of filter arg in getObjects method
  src/globals/api/methods/catalog/getNewBuildings.ts
  src/globals/api/methods/catalog/getSecondaryHousing.ts
  src/page-components/catalog/Category.tsx
  src/page-components/catalog/SecondaryCategory.tsx
Due: prettier --write, eslint --fix

fix: pr issues
  src/components/Cards/ObjectCard/ObjectCard.tsx
  src/components/Cards/ObjectCard/ObjectListCard.tsx
  src/components/Cards/ObjectCard/ObjectTileCard.tsx
  src/features/showFilters.tsx
  src/globals/api/apiCall.ts
  src/layout/catalog/CatalogContent.tsx
Due: prettier --write, eslint --fix

fix: types in Object Card
  src/components/Cards/ObjectCard/ObjectCard.tsx
  src/components/Cards/ObjectCard/ObjectListCard.tsx
Due: prettier --write, eslint --fix

refactor: remove unused ternary operator in showFilter()
  src/features/showFilters.tsx
Due: prettier --write, eslint --fix

tests: fix error in test with subcategory page
  src/__tests__/page.spec.ts
Due: prettier --write, eslint --fix

chore: add logging to build action
  .github/workflows/build.yml
Due: none

chore: add logging of .next folder into build action
  .github/workflows/build.yml
Due: none

chore: try fix upload-artifact action in build.yml
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{md,css,json,mjs}) or (any of: *.{ts,tsx,js,jsx})
  eslint --fix: any of: *.{ts,tsx,js,jsx}
