Repository aaccent/everest-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: issue with case in Button component
  src/ui/buttons/Button.tsx
Due: prettier --write, eslint --fix

feat: constant for notification cookie name
  src/components/CookieNotification.tsx
Due: prettier --write, eslint --fix

refactor: use COOKIES constant and change time on one year in cookies notification
  src/components/CookieNotification.tsx
  src/features/utility/cookies.ts
Due: prettier --write, eslint --fix

docs: add comments and JSDoc to features/cookies.ts
  src/features/utility/cookies.ts
Due: prettier --write, eslint --fix

feat: geo-notification
  .env
  src/app/(main-page)/page.tsx
  src/components/GeoPosition.tsx
  src/components/GeoPositionNotification.tsx
  src/features/utility/cookies.ts
  src/features/utility/getCityByIp.ts
  src/globals/CityContext.tsx
  src/globals/api/methods/getLocation.ts
  src/layout/BasePage.tsx
  src/middleware.ts
  src/types/Geo.ts
Due: prettier --write, eslint --fix

fix: pr issues
  src/components/FilterTags.tsx
  src/features/catalog/useCategoryFilter.ts
  src/features/catalog/useCategoryObject.ts
  src/ui/inputs/PriceRange.tsx
  src/ui/popups/FilterPopup/FilterPopup.tsx
  src/ui/popups/FilterPopup/PopupFilterTags.tsx
Due: prettier --write, eslint --fix

fix: error with subcategory
  src/app/catalog/_components/Category.tsx
  src/globals/api/methods/catalog/getCategory.ts
Due: prettier --write, eslint --fix

feat: city popup
  src/components/FilterItems.tsx
  src/components/GeoPositionNotification.tsx
  src/features/Popup.tsx
  src/layout/Header/mobile/MobileMenu.tsx
  src/ui/inputs/Checkbox.tsx
  src/ui/inputs/Selector.tsx
  src/ui/popups/GeoPopup/GeoPopup.tsx
Due: prettier --write, eslint --fix

v0.12.0
  package.json
Due: prettier --write

chore: add 'stable' option to release script
  readme.md
  scripts/create-release.d.ts
  scripts/create-release.js
Due: prettier --write, eslint --fix

v0.11.0
  package.json
Due: prettier --write

chore: change API_URL in .env
  .env
  .env.test
Due: none

chore: add conditional env variables when push in dev or master branches
  .github/workflows/build.yml
Due: none

chore: fix issue withc custom NODE_ENV and next build
  .github/workflows/build.yml
  package.json
Due: prettier --write

chore: add test and dev scripts for ci and
  .env
  .env.development
  .env.testing
  .github/workflows/build.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/test-deploy.yml
  package.json
  playwright.config.ts
Due: prettier --write, eslint --fix

chore: fix APP_ENV during e2e tests
  .github/workflows/build.yml
Due: none

v0.12.0-beta.0
  package.json
Due: prettier --write

fix: bug with quick filters
  src/components/FilterTags.tsx
  src/components/FilterTagsContext.tsx
  src/components/QuickFilter/QuickFilter.tsx
  src/components/QuickFilter/QuickFiltersTags.tsx
  src/layout/catalog/CategoryLayout.tsx
  src/ui/popups/FilterPopup/FilterPopup.tsx
  src/ui/popups/FilterPopup/PopupFilterTags.tsx
Due: prettier --write, eslint --fix

fix: bug with quick filters
  .env
  src/components/FilterTags.tsx
  src/components/FilterTagsContext.tsx
  src/components/QuickFilter/QuickFilter.tsx
  src/components/QuickFilter/QuickFiltersTags.tsx
  src/layout/catalog/CategoryLayout.tsx
  src/ui/popups/FilterPopup/FilterPopup.tsx
  src/ui/popups/FilterPopup/PopupFilterTags.tsx
Due: prettier --write, eslint --fix

chore: fix env variables in docker compose files
  compose.dev.yaml
  compose.test.yaml
Due: none

v0.12.0-beta.1
  package.json
Due: prettier --write

v0.12.0-beta.2
  package.json
Due: prettier --write

feat: bonuses start
  public/bonuses/image 63.png
  public/bonuses/image 631.png
  public/bonuses/image 632.png
  src/app/catalog/complexes/[complex]/_components/Bonuses.tsx
  src/app/catalog/complexes/[complex]/page.tsx
Due: prettier --write, eslint --fix

fix: pr issues
  .env
  next.config.mjs
  src/components/FilterTagsContext.tsx
  src/components/QuickFilter/QuickFiltersTags.tsx
  src/features/utility/texts.ts
  src/types/FiltersType.ts
  src/ui/popups/FilterPopup/FilterPopup.tsx
  src/ui/popups/FilterPopup/FilterTags.tsx
Due: prettier --write, eslint --fix

feat: bonuses block
  next.config.mjs
  src/app/catalog/complexes/[complex]/_components/Bonuses.tsx
  src/components/Carousel/CarouselProgressBar.tsx
Due: prettier --write, eslint --fix

feat: documentation block
  next.config.mjs
  src/app/catalog/complexes/[complex]/_components/Documentation/Documentation.tsx
  src/app/catalog/complexes/[complex]/_components/Documentation/DocumentationWrapperWithButton.tsx
  src/app/catalog/complexes/[complex]/page.tsx
Due: prettier --write, eslint --fix

chore: add new remotePattern for images
  next.config.mjs
Due: prettier --write

chore: fix .env.local loading
  package.json
Due: prettier --write

feat: method
  package.json
  src/app/catalog/complexes/[complex]/_components/Bonuses.tsx
  src/globals/api/methods/catalog-details/getBonuses.ts
Due: prettier --write, eslint --fix

feat: exclusive offers block
  next.config.mjs
  package.json
  src/app/catalog/complexes/[complex]/_components/ExclusiveOffers.tsx
  src/app/catalog/complexes/[complex]/page.tsx
  src/assets/static/decorative-bg/exclusiveOffersBavel.svg
  src/assets/static/decorative-bg/exclusiveOffersBavel_mob.svg
  src/globals/api/methods/catalog-details/getExclusiveOffers.ts
Due: prettier --write, eslint --fix

chore: add package 'imask'
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: issue with input values in form context
  src/features/form/form.tsx
  src/features/form/useInputRegister.tsx
  src/ui/inputs/Input.tsx
Due: prettier --write, eslint --fix

chore: move '@testing-library/user-event' package to dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: gallery popup props
  next.config.mjs
  src/app/catalog/_components/ObjectDetail/ObjectGallery.tsx
Due: prettier --write, eslint --fix

feat: unmasked and masked values for tel and email inputs
  src/features/form/form.tsx
  src/ui/forms/CallForm.tsx
  src/ui/inputs/Input.tsx
  src/ui/inputs/NameInput.tsx
  src/ui/inputs/PhoneInput.tsx
Due: prettier --write, eslint --fix

refactor: move types of form context in separate files
  src/features/form/__tests__/form.test.tsx
  src/features/form/form.tsx
  src/features/form/form.types.tsx
  src/features/form/useInputRegister.tsx
  src/globals/inputs/call-form.ts
  src/ui/forms/CallForm.tsx
  src/ui/inputs/Input.tsx
Due: prettier --write, eslint --fix

fix: pr issues
  src/app/catalog/complexes/[complex]/_components/Bonuses.tsx
  src/globals/api/methods/catalog-details/index.ts
Due: prettier --write, eslint --fix

fix: pr issues
  src/app/catalog/complexes/[complex]/_components/Documentation/Documentation.tsx
  src/app/catalog/complexes/[complex]/_components/Documentation/DocumentationWrapperWithButton.tsx
Due: prettier --write, eslint --fix

fix: pr issues
  src/app/catalog/complexes/[complex]/_components/ExclusiveOffers.tsx
  src/globals/api/methods/catalog-details/index.ts
Due: prettier --write, eslint --fix

fix: pr issues
  .env
  src/components/GeoPosition.tsx
  src/globals/CityContext.tsx
  src/globals/api/geo/getCityByIp.ts
  src/globals/api/geo/getLocation.ts
  src/globals/api/index.ts
  src/ui/inputs/Checkbox.tsx
  src/ui/popups/GeoPopup/GeoPopup.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,css,json,mjs}) or (any of: *.{ts,tsx,js,jsx})
  eslint --fix: any of: *.{ts,tsx,js,jsx}
