Repository aaccent/everest-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yaml:

{
    "*.{md,css,json,mjs}": ["prettier --write"],
    "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"]
}

chore: remove push action trigger in build.yml
  .github/workflows/build.yml
Due: none

feat: cookie Notification
  src/components/CookieNotification.tsx
  src/features/utility/cookies.ts
  src/layout/BasePage.tsx
Due: prettier --write, eslint --fix

chore: fix folders for deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix env variables in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix deploy actions docker commands and env variables when set deploy status
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix order in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix docker command in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
  docker-compose.dev.yaml
  docker-compose.test.yaml
Due: none

chore: fix order of commands in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix misspell in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix issue in docker run command
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

chore: fix docker compose server name in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

refactor: range input
  src/components/FilterItems.tsx
  src/components/FilterTags.tsx
  src/components/QuickFilter/QuickFilter.tsx
  src/features/catalog/useCategoryFilter.ts
  src/features/catalog/useCategoryObject.ts
  src/ui/inputs/Range.tsx
  src/ui/popups/FilterPopup/FilterPopup.tsx
Due: prettier --write, eslint --fix

chore: fix commands for run docker service in deploy actions
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
  .prettierignore
  compose.dev.yaml
  compose.prod.yaml
  compose.test.yaml
  compose.yaml
Due: none

chore: add to script functionality for beta releases
  scripts/create-release.d.ts
  scripts/create-release.js
Due: prettier --write, eslint --fix

v0.11.0-beta.0
  package.json
Due: prettier --write

chore: add auto PR from master to dev after release
  scripts/create-release.js
Due: prettier --write, eslint --fix

chore: update env files
  .env
  .env.test
Due: none

chore: checkout to master before all actions while release
  scripts/create-release.js
Due: prettier --write, eslint --fix

v0.11.0-beta.1
  package.json
Due: prettier --write

chore: fix console logs about PR's
  scripts/create-release.js
Due: prettier --write, eslint --fix

docs: add info about release script
  readme.md
Due: prettier --write

chore: fix api urls in env files
  .env
  .env.development
  .env.test
Due: none

v0.11.0-beta.2
  package.json
Due: prettier --write

chore: change deploy folder on local in server instead coping
  .env
  .env.development
  .env.test
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
  compose.dev.yaml
  compose.prod.yaml
  compose.test.yaml
  compose.yaml
  src/end.d.ts
  src/globals/api/apiCall.ts
Due: prettier --write, eslint --fix

chore: fix issue with .env.local, add cache for pnpm in docker
  .dockerignore
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
  .idea/runConfigurations/Run_docker.xml
  Dockerfile
Due: none

v0.11.0-beta.3
  package.json
Due: prettier --write

refactor: remove 'visible' folder from features
  src/app/(main-page)/_components/Filter/CategoryFilter.tsx
  src/app/catalog/_components/ObjectDetail/ObjectGallery.tsx
  src/app/catalog/_components/ObjectDetail/ObjectProperties/ObjectPropertiesWrapper.tsx
  src/app/map/_components/ObjectsMap.tsx
  src/components/QuickFilter/DetailFilterButton.tsx
  src/components/QuickFilter/SortButton.tsx
  src/features/Popup.tsx
  src/features/adaptive.tsx
  src/features/scroll.ts
  src/globals/pageProps.ts
  src/layout/BasePage.tsx
  src/layout/Header/CatalogMenu/CatalogMenu.tsx
  src/layout/Header/CatalogMenu/components/CatalogMenuButton.tsx
  src/layout/Header/Header.context.tsx
  src/layout/Header/Header.tsx
  src/layout/Header/SaleRentMenu/DesktopSaleRentMenu.tsx
  src/layout/Header/components/CallPopupButton.tsx
  src/layout/Header/components/CatalogButton.tsx
  src/layout/Header/components/SaleRentButton.tsx
  src/layout/Header/mobile/MobileMenuButton.tsx
  src/ui/buttons/ClosePopupButton.tsx
  src/ui/forms/CallForm.tsx
  src/ui/popups/FilterPopup/FilterPopup.tsx
  src/ui/popups/FilterPopup/ShowAllButton.tsx
  src/ui/popups/ThxPopup.tsx
Due: prettier --write, eslint --fix

feat: short price in range input
  src/components/FilterItems.tsx
  src/components/FilterTags.tsx
  src/features/utility/price.ts
  src/types/FiltersType.ts
  src/ui/inputs/Range.tsx
  src/ui/popups/FilterPopup/PopupFilterTags.tsx
Due: prettier --write, eslint --fix

chore: change NEXT_PUBLIC_API_URL on develop url
  .env
Due: none

chore: change NEXT_PUBLIC_API_URL in env on develop url
  .env
Due: none

fix: output of properties on object page
  src/app/catalog/_components/ObjectDetail/ObjectProperties/ObjectProperties.tsx
  src/app/catalog/_components/ObjectDetail/ObjectProperties/ObjectPropertiesWrapper.tsx
Due: prettier --write, eslint --fix

feat: zoom buttons to ObjectsMap
  src/app/map/_components/ObjectsMap.tsx
  src/app/map/_components/ObjectsMapSource.tsx
  src/app/map/_components/useObjectsMapData.tsx
  src/components/CustomMap.tsx
Due: prettier --write, eslint --fix

refactor: catalog pages rewrote on getCategory() api method
  src/app/(main-page)/_components/Filter/CategoryFilter.tsx
  src/app/catalog/[category]/[subcategory]/object/[object]/page.tsx
  src/app/catalog/[category]/[subcategory]/page.tsx
  src/app/catalog/[category]/object/[object]/page.tsx
  src/app/catalog/[category]/page.tsx
  src/app/catalog/_components/Category.tsx
  src/app/catalog/_components/SecondaryCategory.tsx
  src/app/catalog/new-building/[subcategory]/page.tsx
  src/app/catalog/new-building/object/[object]/page.tsx
  src/app/catalog/new-building/page.tsx
  src/app/catalog/secondary-housing/[subcategory]/page.tsx
  src/app/catalog/secondary-housing/object/[object]/page.tsx
  src/app/catalog/secondary-housing/page.tsx
  src/app/map/[category]/page.tsx
  src/globals/api/methods/catalog/getCategory.ts
  src/globals/api/methods/catalog/getNewBuildings.ts
  src/globals/api/methods/catalog/getNewBuildingsSubcategory.ts
  src/globals/api/methods/catalog/getObjects.ts
  src/globals/api/methods/catalog/getSecondaryHousing.ts
  src/globals/api/methods/catalog/getSecondaryHousingSubcategory.ts
  src/globals/api/methods/catalog/index.ts
  src/types/Category.ts
Due: prettier --write, eslint --fix

v0.11.0-beta.4
  package.json
Due: prettier --write

fix: tags
  src/components/Tags.tsx
Due: prettier --write, eslint --fix

chore: update pnpm from 9.7.0 upto 9.12.0
  package.json
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: type error in CustomMap
  src/components/CustomMap.tsx
Due: prettier --write, eslint --fix
