Repository aaccent/everest-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yaml:

{
    "*.{md,css,json,mjs}": ["prettier --write"],
    "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"]
}

fix: width of Range in filter popup
  src/ui/inputs/Range.tsx
Due: prettier --write, eslint --fix

refactor: change text in call popup
  src/ui/popups/CallPopup/CallPopup.tsx
Due: prettier --write, eslint --fix

v0.15.0
  package.json
Due: prettier --write

chore: v1.0.0-rc
  package.json
Due: prettier --write

fix: link on contacts in mobile menu
  src/layout/Header/mobile/MobileMenuItem.tsx
Due: prettier --write, eslint --fix

feat: link on object in ObjectCard
  src/ui/cards/ObjectCard/ObjectTileCard.tsx
Due: prettier --write, eslint --fix

v1.0.1
  package.json
Due: prettier --write

v1.0.2
  package.json
Due: prettier --write

fix: update env folder
  .github/workflows/prod-deploy.yml
Due: none

v1.0.3
  package.json
Due: prettier --write

v1.0.4
  package.json
Due: prettier --write

v1.0.5
  package.json
Due: prettier --write

v1.0.6
  package.json
Due: prettier --write

feat: update contact info
  src/app/contacts/_components/OfficesMap/useOfficesMap.tsx
  src/app/contacts/page.tsx
  src/components/ContactForm/ContactForm.tsx
  src/globals/mock-data/socials.json
  src/layout/Footer/Footer.tsx
Due: prettier --write, eslint --fix

feat: update contact info
  public/content/inst.png
  src/globals/mock-data/socials.json
  src/layout/Footer/Footer.tsx
  src/layout/Header/desktop/DesktopHeader.tsx
  src/ui/popups/CallPopup/CallPopup.tsx
Due: prettier --write, eslint --fix

feat: update contact info
  src/globals/mock-data/socials.json
  src/layout/Footer/Footer.tsx
Due: prettier --write, eslint --fix

feat: update react version
  package.json
  pnpm-lock.yaml
Due: prettier --write
